body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex.png");
    padding-bottom: 200px;
}

/* containers for all 3 pages */

.container {
    background: white;
    margin-top: 20px;
    border: 1px solid black;
    font-size: 24px;
    line-height: 150%;
}

/* navbar */

.navbar {
    background-color: white !important;
    border-bottom: 1px solid #989898;
}

.nav-item {
    color: #989898 !important;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    margin-top: 30px;
    background: grey;
    border-top: 8px solid #4aaaa5;
}

/* images inside portfolio container */

img {
    margin: 20px 20px 20px 20px;
}

.jumbotron {
    background: white !important;
    margin-top: 20px !important;
    border: 1px solid #cccccc;
    padding-top: 30px;
}

.display-4 {
    color: #4aaaa5;
    font-size: 40px;
    font-weight: bold;
}

/* About Me */

.container h1 {
    margin: 30px 0px 10px;
    color: #4aaaa5;
    margin-left: 10px;
}

/* alligning text in about me */

.container p {
    margin-left: 10px;
}

/* message box in form  */

#exampleInputMessage1 {
    height: 200px;
}

/* border around content, form, and portfolio containers */

.container {
    border: 1px solid #cccccc;
}

p {
    color: black;
    font-size: 1rem;
    margin-top: 7px;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

a h1 {
    padding: 0 15px;
}

.form-group {
    margin-top: 20px;
}

